.messages {
  width: 100%;
  /* height: calc(100vh - 260px); */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: auto;
  padding: 0;
  background-color: white;
}

.messages:after {
  content: "";
  background: white;
  flex: 1;
  pointer-events: none;
}

li {
  list-style-type: none;
  display: flex;
  align-items: flex-start;
  flex-direction: row-reverse;
  overflow: hidden;
  border-style: solid;
  border-color: lightgray;
  border-width: 0px 0px 1px 0px;
  width: 100%;
  flex: 0 0 auto;
  margin-top: 0.5rem;
}

.message {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

li.mine {
  flex-direction: row;
}

li.mine .author-me,
li.mine div {
  font-size: small;
  text-align: right;
  justify-content: flex-end;
}

li .author-other {
  font-size: small;
  text-align: left;
  justify-content: flex-end;
}

li:before {
  content: "";
  flex: 1;
  background: white;
  pointer-events: none;
}

.bold {
  font-weight: 600;
}
