.home-container {
  width: 100vw;
  /* height: 800px; */
  background-image: url(https://images.unsplash.com/photo-1591879994664-b5fc4b023294?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80);
  opacity: 80%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;

  background-position: top;
  /* min-height: 100%; */
  height: 100vh;
  /* position: relative; */
}

.home-p {
  font-family: Roboto Slab, serif;
  margin-left: 20px;
  margin-right: 20px;
}

.btn {
  margin-left: 20px;
}
